@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #232321;
  --primary-blue: #4A6CF7;
  --primary-orange: #FFA500;
  --card-gray: #E7E7E3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-blue);
  --color-accent: var(--primary-orange);
  --color-gray-light: var(--card-gray);
  
  --font-sans: "Inter", var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.container-custom {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
