@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  --primary-blue: #4A69E2;
  --primary-orange: #FFA500;
  --card-gray: #E7E7E3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-blue);
  --color-accent: var(--primary-orange);
  --color-gray-light: var(--card-gray);
  
  --font-sans: "Rubik", "Inter", var(--font-geist-sans);
  --font-rubik: "Rubik", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.container-custom {
  max-width: 1318px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
